
#header-img {
  width: 150px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: gray;
  color: white;
  font-family: "Exo 2", sans-serif;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.nav-link {
  padding: 20px;
  margin 20px;
}

section {
  padding-bottom: 50px;
  padding-top: 50px;
}


.flex-container > div {
  width: 200px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
  padding-top: 0px;
}

#buy-on-website {
  background-color: #808B96;
}
